# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Alembic cache
alembic/__pycache__/